<link rel="stylesheet" type="text/css" href="index.css" />
<title>Seam Social Labs</title>
<a class="pic">
  //- i thought this would be a funny photo
<img src='/collage.jpg' alt='collage' style='width:50%; float:right;'/>
<h1 style='width:50%; float:right; text-align:center; margin-right:50%'></h1>
<br>
  //- page nav buttons
<a class="header" href="/home" style='text-decoration:none;text-decoration:none; background:black; padding:10px;text-align: center; border-radius: 5px; color: white; font-weight: bold;'>Home</a>
<br>
<br>
<a class="header" href="/survey/COVID-19" style='text-decoration:none;text-decoration:none; background:black; padding:10px;text-align: center; border-radius: 5px; color: white; font-weight: bold;'>COVID-19 Survey Responses</a>
<br>
  //- page specific heading
  body
    h1= message
    h1= message3
    h2= message2
    ul
        each val in responses
         li= val.response
<br>   
  //- COVID-19 survey response form
  if title === "Home"
    form(action="/response",method="POST")
            
        div.input
            <textarea id="w3review" name="response" rows="12" cols="50" placeholder= 'Have your voice heard...' value='' type='text'></textarea>
            <input type= "text" value="COVID-19" name="survey_id" hidden="true">

        div.actions
            input(class="sub", type="submit", value="Submit")
<h1 style='width:50%; float:right; text-align:center'>Seam Social Labs Team</h1>
</a>
